* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  background-color: #44704F;
}

main {
  display: flex;
  justify-content: center;
}

h1, h2 {
  color: #eee;
  margin-top: 1.5rem;
}

h3 {
  padding-bottom: 2rem;
  color: #f8f8f8;
  font-size: 1.8rem;
}

button {
  padding: 16px 8px;
  width: 25%;
  margin-top: 12px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #53934C;
  border: none;
  color: #f8f8f8;
  transition: 0.5s ease;
}

button:not(.btn-disabled):hover {
    background-color: #5AAF51;
    width: 30%;
}

.btn-disabled {
  background-color: lightgray;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 9px 0;
  padding: 16px 8px;
  color: #000105;
  background-color: #f8f8f8;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.li-hover:hover {
  background-color: #d8d8d8;
  columns: #fff;
}

.li-selected {
  color: #fff;
  background-color: #50875e;
}

.container-container {
    display: flex;
    justify-content: center;
}
.container {
  max-width: 740px;
  width: 100%;
  padding: 1rem 2rem 3rem;
  background-color: #384537;
  min-height: 100vh;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.quiz-container {

  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
}

.result-container {
  /* background-color: #f8f8f8; */
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
}

.container p {
  padding: 8px 0;
}

#results-header {
    color: #eee;
    padding-bottom: 0;
}

#results-disclaimer {
    color: #eee;
    padding-bottom: 0;
    text-align: justify;
    margin: 20px;
}

.image-container {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.first, .second, .third, .fourth, .fifth, .sixth {
    position: absolute;
    width: 25vh;
    z-index: 0;
}

.first {
    top: 2vh; 
    left: 30px; 
}

.second {
    bottom: 2vh;
    right: 25px;
}

.third {
    top: 0vh;
    right: 25px;
}

.fourth {
    bottom: 35vh;
    left: 120px;
    width: 28vh;
}

.fifth {
    bottom: 40vh;
    right: 150px;
}

.sixth {
    bottom: 2vh;
    left: 25px;
}

.disclaimer {
    text-align: left;
    color: white;
}

.disclaimer-bold {
    font-weight: bold;
    margin-top: 6vh;
}